<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/514958096a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/signupStyle.css">
    <title>Login to my website</title>
</head>
<body>
    <div id="container">
        <h1>Registration Page</h1>

        <form action="/signup-form" method="post" class="box">
            <div class="box">            	
                <i class="fa fa-user"></i>
                <input type="text" name="name" id="name" placeholder="Enter your name">
            </div>
            <div class="box">            	
                <i class="fa fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Enter your email">
            </div>
            <div class="box">            	
                <i class="fa fa-venus"></i>
                <input type="gender" name="gender" id="gender" placeholder="Enter your gender">
            </div>
            <div class="box">            	
                <i class="fa fa-signal"></i>
                <input type="number" name="age" id="age" placeholder="Enter your age">
            </div>
            <div class="box">            	
                <i class="fa fa-phone"></i>
                <input type="phone" name="phone" id="phone" placeholder="Enter your phone no.">
            </div>
            <div class="box">
                <i class="fa fa-map-marker"></i>
                <input type="address" name="address" id="address" placeholder="Enter your address">
            </div>
                <button class="btn">Sign In</button>
            </div>
        </form>
</body>
</html>